
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/hpu.iml
.idea/deployment.xml
.idea/php.xml
.idea/watcherTasks.xml
.idea/sqldialects.xml
.idea/jsLibraryMappings.xml
.idea/dictionaries/Fleisar.xml
.idea/dataSources.xml
