._body {
  font-size: 0;
}
.people {
  font-size: initial;
  border-right: 1px solid #939393;
  width: 200px;
  height: 100%;
  background: #f5f5f5;
  box-sizing: border-box;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  div.userDMLink {
    background: linear-gradient(0deg, #d2d2d2, #ffffff00);
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    cursor: pointer;
    padding: 5px 10px 5px 18px;
    position: relative;
    &.selected {
      background: linear-gradient(180deg, #b2b2b2, #d6d5d5);
    }
    &:before {
      content: "";
      background-color: #a00f0f;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      border-radius: 5px;
      left: 5px;
    }
    &.online:before {
      background-color: #1ea00f;
    }
  }
}
.dialog {
  font-size: initial;
  display: inline-block;
  width: calc(100% - 200px);
  height: 100%;
  .messages {
    height: calc(100% - 40px);
    padding: 5px 10px;
    box-sizing: border-box;
    .message {
      border: 1px solid #939393;
      border-radius: 3px;
      display: table;
      padding: 5px 10px;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 5px;
      background: #f5f5f5;
      position: relative;
      &:before {
        content: var(--text);
        position: absolute;
        top: -15px;
        font-size: small;
        left: 5px;
        width: max-content;
      }
      &.messageFrom {
        margin-left: 0;
      }
      &.messageTo {
        margin-right: 0;
        &:before {
          left: auto;
          right: 5px;
        }
      }
    }
  }
  form {
    height: 40px;
    position: relative;
    input {
      width: calc(100% - 85px);
    }
  }
}